*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

ul{
    list-style: none;
}

header, footer, .main-area{
    background-color:  #1F2937;
}

header li{
    font-size: 18px;
    color: #E5E7EB;
}

header p{
    font-size: 24px;
    color: #F9FAF8;
}

.main-area h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.main-area p{
    font-size: 18px;
    color: #E5E7EB;
}

button, .alert{
    background-color: #3882F6;
}

.info h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #39475a;
    text-align: center;
    padding: 100px 20%;
   }

.auThor{
    color: #1F2937;
    text-align: right;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}

header ul{
    display: flex;
    gap: 20px;
}

.main-area{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.main-area p{
    margin-top: 15px;
}

button{
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
    font-size: 18px;
}

.info{
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right:10%;
    text-align: center;
}

.image-container{
    margin-top: 20px;
    display: flex;
    gap: 60px;
    text-align: center;
    justify-content: center;
}

.card{
    flex-basis: 100px;
}
 
.call-to-action{
    display: flex;
    justify-content: center;
    padding: 100px 15%;
}

.alert{
    border-radius: 10px;
    flex-basis: 1000px; 
    display: flex;  
    justify-content: space-between; 
    padding: 40px 80px;
    color: white;
}

.alert button{
    border:1px solid white;
    padding: 5px 20px;
    flex-shrink: 0; 
    color: white;  
}

footer{
    padding: 40px 10%;
    text-align: center;
    color: white;
}
